<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main<%=title %></title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
    </div>
</nav>

<div class="sidebar-icon">
    <a href="#" onclick="toggleSidebar()">
        <img src="/svg/menu.svg" alt="Sidebar Icon">
    </a>
</div>

<div id="sidebarContainer" class="container">
    <div id="sidebar" class="sidebar">
        <div class="user-icon">
            <a href="">
                <img src="/images/usericon.png" alt="User Icon">
            </a>
            <div class="user-details">
                <span class="user-name">Mary Ann Ambos</span>
                <div>
                <span class="user-email">maryann@gmail.com</span>
                </div>
            </div>
        </div>
        
        
    <ul class="sidebar-menu" id="sidebarMenu">
        <div>
            <img src="/images/user2.png" alt=" Icon"><a href="/profile"></i>My Profile</a>
        </div>

        <div>
            <img src="/images/fundsicon.png" alt=" Icon"><a href="/funds">Funds</a>
        </div>

        <div>
            <img src="/images/loanicon.png" alt=" Icon"><a href="/loan">Loan</a>
        </div>

        <div>
            <img src="/images/icons8-payment-history-50.png" alt=" Icon"><a href="/transaction-history">Transaction History</a>
        </div>

        <div>
            <img src="/images/chaticon.png" alt=" Icon"><a href="/inquire">Inquire</a>
        </div>
    </ul>

    
    <div id="sidebarContent" class="sidebar-content">
        <!-- Sidebar content goes here -->
    </div>
</div>

<script src="scripts.js"></script>
</body>
</html>

