<nav>
    <div class="site-title">
        <h1>CTU -AC COOPERATIVE</h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login" class="login">Login</a></li>
    </ul>
</nav>