<nav>
    <div class="site-title">
        <h1>CTU -AC COOPERATIVE</h1>
    </div>
        <ul>
            <li class="list">
                <a href="#">
                    <span class="icon"><i class="bi bi-house-fill"></i></span>
                    <span class="text">Home</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icon"><i class="bi bi-info-circle-fill"></i></span>
                    <span class="text">About Us</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icon"><i class="bi bi-headset"></i></span>
                    <span class="text">Services</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                    <span class="text">Contact Us</span>
                </a>
            </li>

            <li class="list">
                <a href="#">
                    <span class="icon"><i class="bi bi-box-arrow-in-right"></i></span>
                    <span class="text">Log In</span>
                </a>
            </li>
        </ul>
    </div>
</nav>