<nav>
    <div class="site-title">
        <div class="navbar-inner sticky-menu">
            <div class="nav-yellow"></div>
        </div>
        <h1>KAC<span>OO</span>P</h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a class="login" href="/login">LOGIN</a></li>
    </ul>
</nav>
