<nav>
    <div class="site-title">
        <h1>Automated Cooperative</h1>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/contact">Contact Us</a></li>

        <button class="login" onclick="window.location.href='login'">Login</button>
    </ul>
</nav>