<nav>
    <div class="navbar">
        <img src="logo.png" alt="" class="logo">
        <h1></h1>

        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>LOGIN</li>
        </ul>

        <div class="search-container">
            <form action="/search" method="get">
              <input type="text" class="search-box" name="q" placeholder="Search...">
              <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
          </div>

        
    </div>
</nav>