<div class="sidebar-icon">
    <a href="#" onclick="toggleSidebar()">
        <img src="menu.svg" alt="Sidebar Icon">
    </a>
</div>

<div id="sidebarContainer" class="container">
    <div id="sidebar" class="sidebar">
        <div class="user-icon">
            <a href="">
                <img src="usericon.png" alt="User Icon">
            </a>
            <div class="user-details">
                <span class="user-name">Mary Ann Ambos</span>
                <div>
                <span class="user-email">maryann@gmail.com</span>
                </div>
            </div>
        </div>
        
        
    <ul class="sidebar-menu" id="sidebarMenu">
        <div>
            <img src="usericon.png" alt=" Icon"><a href="/profile"></i>My Profile</a>
        </div>

        <div>
            <img src="fundsicon.png" alt=" Icon"><a href="/funds">Funds</a>
        </div>

        <div>
            <img src="loanicon.png" alt=" Icon"><a href="/loan">Loan</a>
        </div>

        <div>
            <img src="icons8-payment-history-50.png" alt=" Icon"><a href="/transaction-history">Transaction History</a>
        </div>

        <div>
            <img src="chaticon.png" alt=" Icon"><a href="/inquire">Inquire</a>
        </div>
    </ul>

    
    <div id="sidebarContent" class="sidebar-content">
        <!-- Sidebar content goes here -->
    </div>
</div>

<script src="script.js"></script>

<script>
function toggleSidebar() {
    var sidebarContainer = document.getElementById("sidebarContainer");
    sidebarContainer.classList.toggle("active");

    var sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("active");

    var sidebarMenu = document.getElementById("sidebarMenu");
    sidebarMenu.classList.toggle("active");
}
</script>

    </body>
    </html>

