<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/collector.css">
    </head>
<body>
    <nav class="navbar">
        <div class="site-title">
            <h1>KACooP</h1>
            <span>You are now signed as a Collector<a href="/" class="logout-link"><i class="fas fa-sign-out-alt logout-icon"></i></a></span>
        </div>
    </nav>    

    <div class="main-content">
        <div class="content-wrapper">
        <img src="/images/Reminder-595b40b85ba036ed117de019.svg" alt="img" class="adjusted">
            <h3>Reminder Customization</h3>
            <h4>Create Reminder</h4>

            <h5>Type</h5>
                <div class="radio-container">
                    <input type="radio" id="call" name="notify" value="call" checked>
                    <label for="call">Call</label>
                </div>
                <div class="radio-container">
                    <input type="radio" id="email" name="notify" value="email">
                    <label for="email">Email</label>
                </div>
                <div class="radio-container">
                    <input type="radio" id="other" name="notify" value="other">
                    <label for="other">Other</label>
                </div>

                <div class="name-container">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                
                <div class="details-container">
                    <label for="details">Details:</label>
                    <textarea id="details" name="details"></textarea>
                </div>
            </div>
    </div>
</body>
</html>