
<aside>
    <ul>
        <li>
            <a href="#" class="dashboard-btn">
                <i class="bi bi-ui-checks-grid"></i>
            </a>
        </li>

        <li>
            <a href="#" class="announcement-btn">
                <i class="bi bi-megaphone"></i>
            </a>
        </li>

       <li>
            <a href="#" class="funds-btn">
                <i class="fas fa-money-bill-wave"></i>
            </a>
       </li>

        <li>
            <a href="#" class="loans-btn">
                <i class="fas fa-hand-holding-dollar"></i>
            </a>
        </li>

        <li>
            <a href="#" class="history-btn">
                <i class="fas fa-clock-rotate-left"></i>
            </a>
        </li>

        <li>
            <a href="#" class="message-btn">
                <i class="fas fa-comment"></i>
            </a>
        </li>

       <li>
            <a href="#" class="log-out-btn">
                <i class='bx bx-log-out-circle'></i>
            </a>
       </li>

    </ul>
</aside>
