<!DOCTYPE html>
<html lang="en">
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/dashcollector.css">

    <body>
        <%- include("sidebar.ejs") %>
        <%- include("header.ejs") %>

        
                
       
    
                   
                    <div class="dashboard">
                        <!-- First Row -->
                        <div class="card advisory-card">
                            <h2>Cooperative Advisory</h2>
                            <p>There are no announcements...</p>
                            <i class="fa-solid fa-comments fa-2xl" style="color: #F9a602;"></i>
                        </div>
                 
                        <div class="card loans-card">
                            <h2>Loans</h2>
                            <h1>45K <span>coins</span></h1>
                            <i class="fa-solid fa-coins fa-2xl" style="color: #F9a602;"></i>
                        </div>
                 
                        <div class="card empty-card"></div>
                 
                        <!-- Second Row -->

                        
                        <div class="card funds-card">
                            <h2>2024 COOP FUNDS</h2>
                            <ul class="legend">
                                <li><span class="color green"></span> Cash and Equivalents</li>
                                <li><span class="color red"></span> Expenses</li>
                                <li><span class="color yellow"></span> Receivables</li>
                                <li><span class="color blue"></span> Fixed Assets</li>
                            </ul>
                            <div class="graph-image">
                                <img src="/images/graph-image.jpg" alt="">
                            </div>
                        </div>
                 
                        <!-- Combined Inquiries and Upcoming Collections Card -->
                        <div class="card inquiries-collections-card">
                            <div class="inquiries">
                                <h2>Upcoming Collections</h2>
                                <div class="inquiry-item"></div>
                                <div class="inquiry-item"></div>
                            </div>
                 
                            <div class="upcoming-collections">
                                <h2>Inquiries</h2>
                                <div class="collection-item"></div>
                                <div class="collection-item"></div>
                            </div>
                        </div>
                    </div>
            

    </body>


</html>
