<header>
   
    <div class="logo">
        <p class="C">C</p>
        <div id="infinity"></div>
        <p class="C">P</p>
    </div>
    <div class="title">
        <p><%=title %></p>
    </div>
    <div class="notif-bell">
        <i class="fas fa-bell"></i>
    </div>
    <div class="profile">
        <i class="fas fa-user"></i>
    </div>
    <div class="user">
        <p>Collector</p>
    </div>
  
</header>
        
