<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
        
    <div class="container">
        <p>Welcome to our Automated Cooperative System. Our system streamlines cooperative operations with efficiency and professionalism. From membership management to transaction tracking, we provide a seamless experience for members, ensuring ease of use and reliability.</p>
        <br>
        <p>Join us as we pave the way for a more accessible and empowered cooperative community.</p>
        <br>
        <br>
        <br>
        <div class="box-container">
            <div class="Mission">
                <h3>Mission</h3>
            </div>
            <div class="boxM">
                <h4>"Empowering communities through collaboration, our mission at the Cooperative is to foster economic equality, sustainability, and social responsibility. Together, we strive to create a prosperous future where every member thrives and contributes to a more equitable society."</h3>
            </div>
            <div class="boxV">
                <h4>"Envisioning a world where cooperation cultivates prosperity and equality, our Cooperative strives to be a beacon of community-driven enterprise. We aim to build sustainable economies, vibrant communities, and a brighter future for all through collective effort, innovation, and shared values."</h3>
            </div>
            <div class="Vision">
                <h3>Vision</h3>
            </div>
        </div>
    </div>
</body>
</html>