<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
        
    <div class="about-content">
        <h2>About</h2>
        <p>Welcome to the Cebu Technological University-Argao Campus Automated Cooperative System. Our system streamlines cooperative operations with efficiency and professionalism. From membership management to transaction tracking, we provide a seamless experience for members, ensuring ease of use and reliability.</p>
        <br>
        <p>Join us as we pave the way for a more accessible and empowered cooperative community.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>