<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Announcement<%=title %></title>
        <link rel="stylesheet" href="/css/announcement.css">
    </head>
    
    <body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
</nav>

<%- include('./partials/sidebar.ejs') %>


<div class="main-content">
    <div class="content-wrapper">
        <div class="announcement-section">
            <img src="/images/marketing.png" alt="Megaphone Icon" class="adjusted">
            <h1>Announcement</h1>
        </div>
        
        <div class="announcement-content">
            <i class="custom-announcement-icon"></i>
            <h3>Cooperative Advisory</h3>
            <div class="content-text">
                <p>Due to scheduled maintenance of our facilities, the Cooperative Online Services: e-Services and Online Payment is temporarily unavailable starting Friday, March 01, 2024, at 10:00 AM and ends on Saturday, March 02, 2024, at 3:00 PM.</p>
                <p>Please feel free to comment down your concerns. Thank you for your patience and understanding.</p> 
                <img src="/images/NicePng_american-football-png_5625275 (1).png" alt="NicePng_american-football-png_5625275">
            </div>
        </div>
    </div>
    </body>
    </html>


    
