<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTU-AC Cooperative System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="announcement.css">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>CTU-AC COOPERATIVE SYSTEM</h1>
      <div class="member">Member <i class="fas fa-home"></i>
    </div>
  </header>

  <class="main-content">
    <div class="content-wrapper">
      
      <div class="announcement-section">
        <h1><i class="fas fa-bullhorn"></i> Announcement</h1>
      </div>
      <div class="announcement-content">
        <i class="custom-announcement-icon"></i>
        <h3>Cooperative Advisory</h3>
        <p>Due to scheduled maintenance of our facilities, the Cooperative Online Services: e-Services and Online Payment
          is temporarily unavailable starting Friday, March 01, 2024, at 10:00 AM and ends on Saturday, 
            March 02, 2024, at 3:00 PM.</p>
        <p>Please feel free to comment down your concerns. Thank you for your patience and understanding.</p>
      </div>
    </div>
  </main>
</body>
</html>