<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
    <link rel="stylesheet" href="/css/apply_loan.css">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
    </div>
</nav>

<div class="apply-for-loan-wrapper">
    <img src="/images/loan.png"> <h>Apply for Loan</h>
    <form id="apply-for-loan-form">
        <div class="form-group">
            <select id="loan-type" name="loan_type">
                <option value=""> Type of Loan</option>
                <option value="salary">Salary Loan</option>
                <option value="business">Business Loan</option>
            </select>
        </div>
        <div class="form-group">
            <label for="loan-amount">Amount</label>
            <input type="number" id="loan-amount" name="loan_amount" min="0" required>
        </div>
        <div class="form-group">
            <label for="loan-terms">Loan Terms</label>
            <select id="loan-terms" name="loan_terms">
                <option value="">Select Loan Terms</option>
                <option value="6">6 Months</option>
                <option value="12">12 Months</option>
            </select>
        </div>
        <div class="form-group">
            <label for="interest-rate">Interest Rate</label>
            <span id="interest-rate"></span>
        </div>
        <div class="form-group">
            <label for="payment-per-collection">Payment per Collection</label>
            <!-- Enclose payment per collection in a box -->
            <div class="box">
                <span id="payment-per-collection"></span>
            </div>
        </div>
        <button type="submit">Apply</button>
    </form>
</div>

</body>
</html>
