<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
        
    <div class="container">
        <h1>Contact</h1>
        <p><strong>Email:</strong> <a href="mailto:kristineannecardosa32@gmail.com">kristineannecardosa32@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+639504149321">+63 950 414 9321</a></p>
        <p><strong>Address:</strong> <a href="https://www.google.com/maps/place/Cebu+Technological+University+-+Ginatilan+Extension/@9.5670511,123.3124116,66m/data=!3m1!1e3!4m6!3m5!1s0x33ab9d6241f12b33:0xcec07d3be5e9cdce!8m2!3d9.5662271!4d123.3140803!16s%2Fg%2F11h1dgq5vh?entry=ttu" target="_blank">Kayam, San Roque, Ginatilan, Cebu, Philippines</a></p>
    </div>


</body>
</html>