<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
        
    <div class="container">
        <h1>Contact</h1>
        <p><strong>Email:</strong> kristineannecardosa32@gmail.com</p>
        <p><strong>Phone:</strong> +63 950 414 9321</p>
        <p><strong>Address:</strong> Kayam, San Roque, Ginatilan, Cebu, Philippines</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>