<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <nav>
        <div class="site-title">
            <div class="navbar-inner sticky-menu">
                <div class="nav-yellow"></div>
            </div>
            <h1>KAC<span>OO</span>P</h1>
        </div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#service">SERVICES</a></li>
            <li><a href="#contact">CONTACT US</a></li>
            <li><a class="login" href="/login">LOGIN</a></li>
        </ul>
    </nav>

    <div>
        <img class="background1" src="/images/back.jpg" alt="background1" />
        
        <div class="application-button">
            <a href="/application" class="button-link">Apply for Membership</a>
        </div>
    </div>

    <section id="about">
        <h3>About Us</h3>
        <div class="mv-container">
            <div class="mv-block">
                <div class="image">
                    <img src="/images/mission.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Our Mission</h2>
                    <p>Is to harness the power of automation to improve the lives of everyone in our community. We aspire to develop systems that facilitate seamless collaboration among people, ensuring smooth and efficient operations. Through inclusivity and collective effort, we envision a future where all individuals can flourish and prosper.</p>
                </div>
            </div>

            <div class="mv-block">
                <div class="image">
                    <img src="/images/vision.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Our Vision</h2>
                    <p>Is to build a community where everyone works together hand in hand. We strive to create a place where cooperation and support are at the heart of everything we do. By joining forces, we aim to empower each other, achieve shared goals, and cultivate a bright future filled with opportunity and success for all.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="service">
        <h3>Services</h3>
        <div class="container">
            <div class="row">
                <div class="service">
                    <i class="bi bi-piggy-bank"></i>
                    <h4>SAVINGS</h4>
                    <h5>"Save today, secure tomorrow – for the road to financial freedom begins with disciplined savings."</h5>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="service">
                    <i class="bi bi-cash-coin"></i>
                    <h4>LOANS</h4>
                    <h5>"Seize the moment with a loan – turning today's ambitions into tomorrow's achievements."</h5>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="service">
                    <i class="bi bi-coin"></i>
                    <h4>SHARES</h4>
                    <h5>
                        "Each share in our cooperative embodies unity, prosperity, and our shared path to a brighter future."</h5>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
        <h3>Contact Us</h3>
        <div class="contactUs">
            <div class="title">
                <h4>Whether you have questions, in need of assistance, or just want to chat, We are here for you. Feel free to drop us a message via email, or connect with us on social media. We're always eager to hear from you!</h4>
            </div>
            <div class="box">
                <!-- Form -->
                <div class="contact form">
                    <h5>Send a Message</h5>
                    <form>
                        <div class="formBox">
                            <div class="row50">
                                <div class="inputBox">
                                    <span>First Name</span>
                                    <input type="text" placeholder="Kristine">
                                </div>
                                <div class="inputBox">
                                    <span>Last Name</span>
                                    <input type="text" placeholder="Cardosa">
                                </div>
                            </div>

                            <div class="row50">
                                <div class="inputBox">
                                    <span>Email</span>
                                    <input type="text" placeholder="kristinecardosa@gmail.com">
                                </div>
                                <div class="inputBox">
                                    <span>Mobile</span>
                                    <input type="text" placeholder="+63 912 345 6789">
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBox">
                                    <span>Message</span>
                                    <textarea placeholder="Write your message here..."></textarea>
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBox">
                                    <input type="submit" value="Send">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- info Box -->
                <div class="contact info"></div>

                <!-- Map -->
                <div class="contact map"></div>
            </div>
        </div>
    </section>

    <footer>
        Copyright &copy; AUTOMATED COOPERATIVE SYSTEM 2024
    </footer>

</body>
</html>