<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <nav>
        <div class="site-title">
            <div class="navbar-inner sticky-menu">
                <div class="nav-yellow"></div>
            </div>
            <h1>KAC<span>OO</span>P</h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a class="login" href="/login">LOGIN</a></li>
        </ul>
    </nav>

    <div>
        <img class="background1" src="/images/back.jpg" alt="background1" />
        
        <div class="application-button">
            <a href="/application" class="button-link">Apply for Membership</a>
        </div>
        
    </div>

    <section id="about">
        <div class="mv-container">

            <div class="mv-block">
                <div class="image">
                    <img src="/images/mission.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Our Mission</h2>
                    <p>Is to harness the power of automation to improve the lives of everyone in our community. We aspire to develop systems that facilitate seamless collaboration among people, ensuring smooth and efficient operations. Through inclusivity and collective effort, we envision a future where all individuals can flourish and prosper.</p>
                </div>
            </div>

            <div class="mv-block">
                <div class="image">
                    <img src="/images/vision.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Our Vision</h2>
                    <p>Is to build a community where everyone works together hand in hand. We strive to create a place where cooperation and support are at the heart of everything we do. By joining forces, we aim to empower each other, achieve shared goals, and cultivate a bright future filled with opportunity and success for all.</p>
                </div>
            </div>

        </div>
    </section>

    <section id="service">
        <div class="container">
            <h3 class="heading">KaCoop Cooperative Members can avail these services:</h3>

            <div class="box-container">
                <div class="box">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
    </section>

    <footer>
        Copyright &copy; AUTOMATED COOPERATIVE SYSTEM 2024
    </footer>

</body>
</html>