<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <nav>
        <div class="site-title">
            <div class="navbar-inner sticky-menu">
                <div class="nav-yellow"></div>
            </div>
            <h1>KAC<span>OO</span>P</h1>
        </div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#service">SERVICES</a></li>
            <li><a href="#contact">CONTACT US</a></li>
            <li><a class="login" href="/login">LOGIN</a></li>
        </ul>
    </nav>

    <div>
        <img class="background1" src="/images/back.jpg" alt="background1" />
        
        <div class="application-button">
            <a href="/application" class="button-link">Apply for Membership</a>
        </div>
        
    </div>

    <section id="about">
        <h3>About Us</h3>
        <div class="mv-container">
            <div class="mv-block">
                <div class="image">
                    <img src="/images/mission.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Our Mission</h2>
                    <p>Is to harness the power of automation to improve the lives of everyone in our community. We aspire to develop systems that facilitate seamless collaboration among people, ensuring smooth and efficient operations. Through inclusivity and collective effort, we envision a future where all individuals can flourish and prosper.</p>
                </div>
            </div>

            <div class="mv-block">
                <div class="image">
                    <img src="/images/vision.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Our Vision</h2>
                    <p>Is to build a community where everyone works together hand in hand. We strive to create a place where cooperation and support are at the heart of everything we do. By joining forces, we aim to empower each other, achieve shared goals, and cultivate a bright future filled with opportunity and success for all.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="service">
        <h3>Services</h3>
        <div class="container">
            <div class="row">
                <div class="service">
                    <i class="bi bi-piggy-bank"></i>
                    <h4>SAVINGS</h4>
                    <div class="visible-content">
                        <h5>"Save today, secure tomorrow – for the road to financial freedom begins with disciplined savings."</h5>
                    </div>
                    <div class="invisible-content">
                        <h6>By cultivating a habit of saving diligently, individuals lay the groundwork for a secure future. This principle underscores the importance of prudent financial management, urging individuals to prioritize saving and investing in their long-term security. Through consistent savings practices, one not only accumulates resources for unforeseen circumstances but also paves the way towards achieving personal goals and aspirations. Ultimately, disciplined saving serves as the cornerstone for building a resilient financial foundation, empowering individuals to navigate life's uncertainties with confidence and embark on the journey towards lasting financial independence.</h6>
                    </div>
                    <button id="btn">Read More</button>
                </div>

                <div class="service">
                    <i class="bi bi-cash-coin"></i>
                    <h4>LOANS</h4>
                    <div class="visible-content">
                        <h5>"Seize the moment with a loan – turning today's ambitions into tomorrow's achievements.</h5>
                    </div>
                    <div class="invisible-content">
                        <h6>By leveraging loans, individuals can seize immediate opportunities to propel their ambitions forward, whether it be starting a business, pursuing higher education, or investing in personal development. This mindset emphasizes the strategic utilization of resources to accelerate progress and unlock future possibilities. However, it also highlights the importance of responsible borrowing, ensuring that loans are utilized wisely and aligned with long-term financial objectives. When used judiciously, loans serve as catalysts for realizing dreams and translating aspirations into tangible successes, positioning individuals to thrive in the journey towards their envisioned futures.</h6>
                    </div>
                    <button id="btn">Read More</button>
                </div>

                <div class="service">
                    <i class="bi bi-coin"></i>
                    <h4>SHARES</h4>
                    <div class="visible-content">
                        <h5>"Each share in our cooperative embodies unity, prosperity, and our shared path to a brighter future."</h5>
                    </div>
                    <div class="invisible-content">
                        <h6>This encapsulates the essence of cooperative ethos, emphasizing the power of collaboration and solidarity in achieving mutual prosperity. Each share represents not just a financial stake but a commitment to working together towards common goals and aspirations. Through pooling resources and efforts, cooperative members forge a shared path towards economic empowerment and sustainability. Moreover, the notion of a 'brighter future' resonates with the cooperative's vision of fostering inclusive growth and uplifting communities. As stakeholders unite under the banner of the cooperative, they embody the spirit of cooperation and resilience, laying the groundwork for a future marked by shared success and abundance.</h6>
                    </div>
                    <button id="btn">Read More</button>
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact">
    </section>

    <footer>
        Copyright &copy; AUTOMATED COOPERATIVE SYSTEM 2024
    </footer>

</body>
</html>