<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="content">
        <p1>MISSION</p1>
        <p2>VISION</p2>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>