<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
        
     <h2>Sign In/Sign Up</h2>

     <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="http://"><i class="bi bi-facebook"></i></a>
                    <a href="http://"><i class="bi bi-google"></i></a>
                    <a href="http://"><i class="bi bi-linkedin"></i></a>
                </div>
            </form>
        </div>
     </div>








     <script src="scripts.js"></script>

    <%- include('./partials/footer.ejs') %>

</body>
</html>