<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | <%=title %></title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="curved-shape"></div>
        <div class="curved-shape2"></div>

        <!-- Login Form -->
        <div class="form-box Login">
            <h2 class="animation" style="--D:0; --S:21">LOGIN</h2>
            <% if (errorMessage) { %>
                <div class="error-message">
                    <%= errorMessage %>
                </div>                  
              <% } %>
            <form id="loginForm"  action="/user_login" method="POST">
                <div class="input-box animation" style="--D:1; --S:22">
                    <input type="text" id="user_id" name="user_id" required>
                    <label for="user_id">User ID</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--D:2; --S:23">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                    <i class='bx bxs-lock-alt' onclick="togglePasswordVisibility('password', this)"></i>
                </div>
                <div class="input-box animation" style="--D:3; --S:24">
                    <button class="btn" type="submit" id="login">Login</button>
                </div>
                <div class="regi-link animation" style="--D:5; --S:26;">
                    <p>Don't have an account? <a href="#" class="SignUpLink">Register</a></p>
                    <p><a href="/" class="back-to-home"><< Back to Home</a></p> 
                </div>                                        
            </form>
        </div>

        <div class="info-content Login">
            <h2 class="animation" style="--D:0; --S:20">WELCOME BACK !</h2>
            <p class="animation" style="--D:1; --S:21">Stay on top of your transactions by logging in with your personal details—quick and secure!</p>
        </div>

        <!-- Register Form -->
        <div class="form-box Register">
            <h2 class="animation" style="--li:17; --S:0">REGISTER</h2>
            <form action="/user_reg" method="POST" id="registrationForm">
                <div class="input-box animation" style="--li:18; --S:1">
                    <input type="text" id="user_id" name="user_id" required>
                    <label for="user_id">User ID</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--li:19; --S:2">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                    <i class='bx bxs-lock-alt' onclick="togglePasswordVisibility('password', this)"></i>
                    <div class="error" id="error-message" style="display:none;">Passwords do not match!</div>
                </div>
                <div class="input-box animation" style="--li:19; --S:2">
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <label for="confirmPassword">Confirm Password</label>
                    <i class='bx bxs-lock-alt' onclick="togglePasswordVisibility('confirmPassword', this)"></i>
                </div>
                <div class="input-box animation" style="--li:20; --S:3">
                    <button class="btn" type="submit" id="submitBtn">Register</button>
                </div>
                <div class="regi-link animation" style="--li:21; --S:4">
                    <p>Already have an account? <a href="#" class="SignInLink">Log In</a></p>
                    <p><a href="/" class="back-to-home"><< Back to Home</a></p>
                </div>
            </form>
        </div>
        
        <div class="info-content Register">
            <h2 class="animation" style="--li:17; --S:0;">Welcome Aboard!</h2>
            <p class="animation" style="--li:18; --S:1;">To begin your journey, please complete your registration to access our resources, connect with fellow members, and participate in our upcoming events.</p>
        </div>
        
    <script src="/js/login.js"></script>
</body>
</html>