<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | <%=title %></title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
     <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/user_reg" method="POST">
                <h1>No Account yet? Sign Up here!</h1>
                <input type="user_id" id="user_id" name="user_id" placeholder="User ID" required />
                <input type="password" id="password" name="password" placeholder="Password" required />
                <button type="submit" id="registered">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/user_login" method="POST">
                <h1>Sign In</h1>
                <input type="user_id" id="user_id" name="user_id" placeholder="User ID" required />
                <input type="password" id="password" name="password" placeholder="Password" required />
                <a href="#">Forgot Password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>
                        To keep updated with your transactions please login with your personal Info
                    </p>
                    <button class="ghost" id="signin">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Ka Coop!</h1>
                    <p>
                        Enter your personal informations and start your journey with us
                    </p>
                    <button class="ghost" id="signup">Sign Up</button>
                </div>
            </div>
        </div>
     </div>
     <script src="/js/scripts.js"></script>
</body>
</html>