<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home<%=title %></title>
        <link rel="stylesheet" href="/css/announcement.css">
    </head>
    <body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
</nav>

</div>

    <%- include('./partials/sidebar.ejs') %>

