<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Request</title>
    <link rel="stylesheet" href="/css/membership_req.css">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="member-title">
        <h1>Manager</h1>
    </div>
    
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
    </div>
</nav>

<div class="container">
    <h2 class="title">Membership Request</h2>
    <div class="table">
        <div class="row">
            <div class="cell">Request ID</div>
            <div class="cell">Details</div>
            <div class="cell">Date</div>
        </div>
        <div class="row">
            <div class="cell">00111</div>
            <div class="cell">Missy Yonting has applied for a regular loan with an amount of 10000 php.</div>
            <div class="cell">04-15-2024</div>
        </div>
    </div>
</div>

