<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
        
    <div class="container">
        <div class="product">
            <img src="product1.jpg" alt="Product 1">
            <div class="product-info">
                <h2>Product 1</h2>
                <p>Description of Product 1.</p>
                <p>$19.99</p>
            </div>
        </div>
        <div class="product">
            <img src="product2.jpg" alt="Product 2">
            <div class="product-info">
                <h2>Product 2</h2>
                <p>Description of Product 2.</p>
                <p>$29.99</p>
            </div>
        </div>
    </div>


</body>
</html>