<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home<%=title %></title>
    <link rel="stylesheet" href="/css/savingsdeposit.css">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
    </div>
</nav>

<%- include('./partials/sidebar.ejs') %>

<div class="wrapper">  
    <div class="savings-display">  
        <div class="savings-content">
            <h2 class="savings-text">Savings</h2>
            <h3 class="savings-amount">PHP 10,000.00</h3>
        </div>
    </div>
</div>
