<form action="/verify" method="POST">
    <p>Did you forget your password? Tagam dangag man ka. </p>
    <p>Please input your User ID and Gmail account so we can verify your account and send you a recovery link. Mwaaps 😘</p>
    <input type="number" id="user_id" name="user_id" placeholder="User ID" required>
    <input type="email" id="email" name="email" placeholder="@gmail.com" required>
    <button type="submit">Verify</button>
</form>