<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="images">
        
    <img src="piggy.png" class="responsive" id="image">
    <img src="loans.png" class="responsive" id="image">
    <img src="shares.png" class="responsive" id="image">

        <h1>CTU-AC Cooperative Members can avail these services:</h1>
        <ul>
            <li><a href="/service/web-design">Savings</a></li>
            <li><a href="/service/web-development">Loan</a></li>
            <li><a href="/service/web-development">From Share</a></li>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>