<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <h1>Services</h1>
        <ul>
            <li><a href="/service/web-design">Web Design</a></li>
            <li><a href="/service/web-development">Web Development</a></li>
            <li><a href="/service/seo">SEO</a></li>
            <li><a href="/service/digital-marketing">Digital Marketing</a></li>
            <li><a href="/service/graphic-design">Graphic Design</a></li>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>