<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <h1>CTU-AC Cooperative Members can avail these services:</h1>
    <ul>
        <div class="containerS">
            <div class="div1"><img src="piggy.png" class="responsive" id="div1"><p>Savings</p></div>
            <div class="div2"><img src="loans.png" class="responsive" id="div2"><p>Loans</p></div>
            <div class="div3"><img src="shares.png" class="responsive" id="div3"><p>Shares</p></div>
        </div>

        <div class="containerA">
            <div class="div4"><p>Announcements</p><button class="button">Apply for Membership</button></div>
        </div>
    </ul>
</body>
</html>
