<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
        <h1>CTU-AC Cooperative Members can avail these services:</h1>
        <ul>
            <div class="containerS">
        
                <div class = "piggy"><img src="piggy.png" class="responsive" id="piggy"><p>Savings</p></div>
                <div class = "loans"><img src="loans.png" class="responsive" id="loans"><p>Loans</p></div>
                <div class = "shares"><img src="shares.png" class="responsive" id="shares"><p>Shares</p></div>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>