<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/sidebar.css">
    </head>
<body>

    <nav class="navbar">
        <div class="site-title">
            <h1>CTU-AC COOPERATIVE SYSTEM</h1>
        </div>
        </div>
        <div class="member-title">
            <h1>Member</h1>
        </div>
        <div class="home-icon">
            <a href="/">
                <img src="/svg/icons8-home.svg" alt="Home Icon">
            </a>
        </div>
    </nav>

<nav class="sidebar">
    <ul>
        <li><a href="#">My Profile</a></li>
        <li>
            <a href="#">Funds</a>
            <ul>
                <li><a href="#">Savings</a></li>
                <li><a href="#">CBU</a></li>
                <li><a href="#">Dividend</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Loans</a>
            <ul>
                <li><a href="#">Apply Loan</a></li>
                <li><a href="#">Current Loan</a></li>
            </ul>
        </li>
        <li><a href="#">Transaction History</a></li>
        <li><a href="#">Inquire</a></li>
    </ul>
</nav>
</body>
</html>