<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin | <%=title %></title>
        <link rel="stylesheet" href="/systemadnin.css">
    </head>
    <body>

        <!-- <%- include('./partials/nav.ejs') %> -->

        <div class="container">
            <div class="header"> 
                <h1>COOPERATIVE SYSTEM</h1> 
                <h2>System Admin</h2>

            </div>
            
          

        </div>
                
    
        
       
    </body>
</html>