h3 {
    color: #F9A602;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    padding-top: 10rem;
    padding-left: 30rem;
    text-align: center;
    max-height: 80vh; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling (optional) */
}

.table { 
    text-align: center;
}


table {
    border-collapse: separate; 
    border-spacing: 2rem;
    width: 80rem;
}
td {
    background-color: #ffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    

}

h1 {
    color: #FFA900;
}

p {
    color: #373f41;
}