
@import url('https://fonts.google.com/specimen/Poppins?query=poppins');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding-top: 120px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    left: 0px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    position: fixed; 
    z-index: 1000; 
    padding: 10px 0;
}

header i {
    color: #373F41;
}

.site-title img{
    margin-left: 1rem;
    height: 100px;
    width: auto;
    display: block;
}
.title p {
    position: absolute;
    font-size: 30px;
    margin-left: 20px;
    color: #373F41;
    font-weight: 600;
}

.users-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 30px;
}

.notif-bell i.clicked {
    color: #f9a602;
}

.notif-bell {
    position: relative;
}

.notif-bell i {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.notif-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    line-height: 1;
    min-width: 15px;
    text-align: center;
}

.profile i {
    font-size: 50px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.notif-bell i:hover, .profile i:hover {
    color: #f9a602;
}

.user p {
    font-size: 18px;
    color: #333;
    margin: 0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.user p:hover {
    color: #f9a602;
}


aside {
    width: 250px;
    height: 100vh;
    background: #fff;
    color: #373F41;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    width: 100%;
}

aside ul li {
    display: flex;
    align-items: center; 
    margin: 0 0 1rem;
    padding: 12px 15px;
}

aside ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

aside ul li i {
    font-size: 20px;
    margin-right: 10px;
    color: #373F41; 
}

aside ul li span {
    font-size: 18px;
    color: #373F41; 
}


aside ul li:hover {
    background-color: #f9a602;   
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

aside ul li:hover i, aside ul li:hover span {
    color: #ffffff;
}

@media (max-width: 768px) {
    aside {
        width: 200px;
    }
}

.container {
    margin-left: 10px;
    position: fixed;
    width: 100%;
}

/* dashboard */
.dashboard-announcement-container {
    height: 16rem;
    width: 29rem;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.dashboard-announcement-title {
    font-size: 24px;
    color: #f9a602;
}

.dashboard-announcement-container p {
    font-size: 20px;
    color: #373f41;
}

.dashboard-loan-container {
    height: 16rem;
    width: 29rem;
    /* overflow-y: auto; */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #373f41;
    border-radius: 5px;
    text-align: center;
    margin-left: 32rem;
    margin-top: -17.4rem;
}

.dashboard-loan-container h2 {
    color: #f9a602;
    font-size: 24px;
    font-weight: 600;
}

.dashboard-loan-container h1 {
    color: #fff;
    text-align: start;
    margin-left: 5rem;
    font-size: 70px;
    margin-top: -1rem;
    text-wrap: wrap;
}

.dashboard-loan-container i {
    color: #f9a602;
    font-size: 101px;
    margin-left: 18rem;
    margin-top: -10rem;
}

.dashboard-welcome-container {
    background-color: #f9a602;
    height: 13.5rem;
    width: 33rem;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    margin-left: 64rem;
    margin-top: -17.3rem;
    color: #373f41;
    position: fixed;
    
}

.dashboard-funds-container {
    height: 26rem;
    width: 61rem;
    padding: 10px;
    /* border: 1px solid #ccc; */
    background-color: #373f41;
    border-radius: 5px;
    text-align: center;
    margin-top: 2rem;
    color: #f9a602;
}

.dashboard-funds-container img {
    height: min-content;
    margin-top: -4rem;
}

.dashboard-inquiries-container {
    height: 25.5rem;
    margin-top: -27.3rem;
    background-color: #373f41;
    margin-left: 64rem;
    width: 34rem;
    border-radius: 5px;
    padding: 1rem;
}


@media (max-width: 768px) {
    .form-container {
        padding: 15px;
    }

    #content_title, 
    #content {
        font-size: 14px;
    }

    .post-title {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table tr {
    border-bottom: 1px solid #ccc;
}

table tr:last-child {
    border-bottom: none;
}

td {
    padding: 15px;
    vertical-align: top;
}

.no-announcements {
    text-align: center;
    color: #888;
    font-style: italic;
}

/* Announcement Card */
.announcement {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.announcement p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

/* Delete Button */
.delete-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #d9534f;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.delete-btn:hover {
    color: #c9302c;
}

.delete-btn i {
    font-size: 18px;
}

.read-more-btn {
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 0;
    text-decoration: underline;
}

.read-more-btn:hover {
    color: #0056b3;
}
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    #content_title, 
    #content {
        font-size: 14px;
    }

    .post-title {
        font-size: 14px;
    }
}


.payment-table {
    border-collapse: collapse;
    cursor: pointer;
}

.payment-table th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
th {
    background-color: #373f41;
    color: white;
}



.payment-table tbody tr:hover {
    background-color: #ddd; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.3);
}


.modal-content {
    border-radius: 10px;
    background-color: #373F41;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 20%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: auto;
}

.modal-content table tr {
    border-bottom: 1px solid #aaa;
}

.modal-content table td {
    background-color: #dbdbdb;
    padding: 8px;
}

.modal-content table th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.button-container {
    margin-top: 40px; 
    display: flex;
    justify-content: space-around;
}

.approve-button,
.decline-button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.approve-button {
    background-color: #4CAF50;
    color: white;
}

.decline-button {
    background-color: #f44336;
    color: white;
}

.approve-button:hover,
.decline-button:hover {
    opacity: 0.8;
}
