@import url('https://fonts.google.com/specimen/Poppins?query=poppins');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #373F41;
    color: #ffa900;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
}

.site-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    padding: 0 10px; 
}

.site-title h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 45px;
    font-weight: 800;
}

.site-title span {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
}

.site-title span i {
    color: #ffa900;
    margin-left: 20px; 
    margin-right: 0;
}

.announcement-section h1 {
    font-weight: 600; 
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.announcement-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    max-width: 300%; 
    margin: 0 auto; 
    width: 100%; 
    height: auto; 
}

.element-class {
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: flex-start; 
    display: flex;
    height: 100vh; 
    padding: 50px;
}

.form-group {
    margin-bottom: 20px;
}

.button-group {
    text-align: center;
}

.announcement-title {
    margin-bottom: 50px; 
}

#create-announcement-form {
    width: 100%; 
    max-width: 900px; 
}

.form-group {
    margin-bottom: 20px;
    width: 80%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #373F41;
}

.button-group {
    display: flex;
    justify-content: center;
    text-align: center; 
}

button {
    padding: 10px 20px;
    margin: 0 10px;
}

.button-group button[type="submit"] {
    background-color: #FFA900;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 10px; 
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#create-announcement-form .form-group input[type="text"] {
    background: #e7e7e7;
    width: 100%;
    padding: 15px;
    border-radius: 45px;
    border: 1px solid #d4d4d4;
    outline: none;
    margin-bottom: 60px;
}

#create-announcement-form .form-group textarea {
    background: #e7e7e7;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #d4d4d4;
    outline: none;
    margin-bottom: 60px;
}
