* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
}
nav {
    background-color: #373F41;
    color: #FFA900;
    padding: 20px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.manager-title{
    padding-left: 1300px;
}

.title h1,
.member-title {
    margin: 0; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: flex;
}

nav ul li {
    margin-left: 20px; 
}

nav ul li:first-child {
    margin-left: 0; 
}

nav ul li a {
    color: white;
    text-decoration: none; 
}
        
.home-icon {
    display: flex;
    align-items: center;
}

.home-icon img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.container {
    text-align: center;
}

.title {
    margin-bottom: 36px;
    margin-top: 3%;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    height: 103px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border-bottom: 1px solid;
    padding: 8px;
    vertical-align: middle;
}

.row:first-child .cell {
    border-top: none;
    background-color: #373F41;
    color: white;
}

.cell:first-child {
    border-left: none;
}

.cell:last-child {
    border-right: none;
}

