body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    padding-top: 10rem;
    padding-left: 18rem;
    display: flex;
    flex-wrap: nowrap;
}

.apply-loan {
    height: 30rem;
    width: 52rem;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-top: 3rem;;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #373f41;
}

.loan-options {
    display: flex;
    flex-wrap: nowrap;
}

.radio-label {
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    cursor: pointer;
}

.radio-input {
    position: absolute;
    opacity: 0;
}

.radio-text {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #373F41;
    border-radius: 8px;
    text-align: center;
    background-color: #f0f0f0;
    color: #373F41;
    width: 12rem;
    height: 2rem;
    font-size: 20px;
    font-weight: 500;
    margin-right: 2rem;
}

.radio-input:checked + .radio-text {
    background-color: #373F41;
    color: white;
    border-color: #373F41;
}

.amount {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2rem;;
}

.amount-container {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 4rem;
}

.amount-container p {
    margin-right: 1rem;
    display: flex;
    flex-wrap: nowrap;
}
.number {
    border: none; 
    height: 3rem;
    width: 14rem;
    background-color: transparent;
    border-bottom: 1px solid #373F41;
    font-size: 20px;

}

.number:focus {
    outline: none;
    box-shadow: none;
  }

.terms {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2rem;;
}

.term-container {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 4rem;
}

.term-container p {
    margin-right: 1rem;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap; 
}
#loan_term:focus {
    outline: none;
    box-shadow: none; 
}

#loan_term {
    padding: 10px; 
    border: none;
    border-bottom: 1px solid #373F41; 
    font-size: 20px; 
    height: 3rem;
    width: 14rem;
    margin-right: -1rem;
    background: transparent;
  }


.payment_per_month {
    border-bottom: 1px solid #373F41; 
    font-size: 20px; 
    height: 3rem;
    width: 14rem;

}

.confirm-button {
    width: 20rem;
    height: 4rem;
    position: absolute;  
    border-radius: 10px;
    background-color: #373f41; 
    border: none;
    color: #F9A602;
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    font-weight: 600; 
    line-height: 48px; 
    text-align: left; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000080; 
    margin-top: 2rem;
    margin-left: 15rem;
  }    

.current-loan {
    margin-left: 2rem;
    width: 58rem;
}
#table {
    width: 100%;
    border-collapse: collapse; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

#table thead {
    background-color: #373F41; 
}

#table th {
    padding: 12px; 
    text-align: left; 
    border-bottom: 2px solid #ccc;
    color: #ffff; 
    font-weight: 400;
    
}

#table td {
    padding: 10px; 
    border-bottom: 1px solid #ccc;
    color: #666;
}

#table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}


#table tbody tr:hover {
    background-color: #e0e0e0; 
    cursor: pointer; 
}


#table td p {
    margin: 0; 
    font-weight: bold; 
}

#table tbody tr td {
    text-align: center; 
    color: #373F41;
}