body {
    margin: 0;
    padding: 0;
    height: 100vh; 
}


.navbar {
    background-color: #373F41;
    color: #ffa900;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
}

.nav ul {
    background: #dbdbdb;
    height: 100%;
    width: 100%;
    list-style: none;
}

.site-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    padding: 0 10px; 
}

.site-title h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 45px;
    font-weight: 800;
}

.site-title span {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.site-title span i {
    color: #ffa900;
    margin-left: 20px; 
    margin-right: 0;
    font-size: 32px;
    transition: color 0.3s ease;
}

.site-title span i:hover {
    color: #ffffff;
}

.logout-icon {
    cursor: pointer;
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Set font family */
}

.form-container,
.button-container {
    text-align: center;
    margin: 20px auto; /* Center horizontally */
    max-width: 600px; /* Set max-width for better alignment */
}

table {
    border-collapse: collapse;
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; /* Set font family */
}

th, td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    background-color: #373F41;
    color: white;
}

.button-container .approve-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #373F41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container .decline-button {
    margin: 5px;
    padding: 10px 20px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-container button:hover {
    background-color: #45a049;
}
