h3 {
    color: #F9A602;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
    padding-top: 10rem;
    padding-left: 40%;
    display: flex;
    flex-wrap: nowrap;
}

.savings-container {
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: absolute;
    border-radius: 8px;
    transform: translateX(-50%);  
    transition: box-shadow 0.1s ease, outline 0.1s ease; 
    left: 43rem;
    width: 43rem;
    height: 37rem;

}

.savings-head {
    display: flex;
    flex: no-wrap;
    height: 5rem;
    position: relative;
    padding: 0;
}

.savings-title {
    background: #373F41;
    color: #F9A602;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    position: relative;
    z-index: 1000;
    
}

.savings-title p {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 24px;

}

.savings-title h1 {
    text-align: center;
    margin-top: -2.5rem;
}



h3 {
    color: #F9A602;
    font-size: 24px;
    margin: 0;
    margin-left: 15px; 
    line-height: 36px;
    font-weight: 700;
}

.form-container {
    margin: 10px auto; 
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.radio-label {
    display: inline-block;
    position: relative;
    margin-left: 1rem;
    cursor: pointer;
}

.radio-input {
    position: absolute;
    opacity: 0;
}

.radio-text {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #373F41;
    border-radius: 8px;
    text-align: center;
    background-color: #f0f0f0;
    color: #373F41;
    width: 12rem;
    height: 2rem;
    font-size: 20px;
    font-weight: 500;
    margin-right: 2rem;
}

.radio-input:checked + .radio-text {
    background-color: #373F41;
    color: white;
    border-color: #373F41;
}


#choose-amount-text {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #373F41; 
}

.amount-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0; 
    row-gap: 1rem; 
    margin-top: 1rem;
    margin-left: 1rem;;
}

.amount-option {
    display: flex;
    align-items: center;
}

.amount-option input {
    display: none; 
}

.amount-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    padding: 15px;
    background-color: #f0f0f0; 
    border: 1px solid #373F41;
    border-radius: 10px;
    width: 9rem;
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none; 
    transition: background-color 0.1s, border-color 0.1s;
    color: #373F41; 
}

.amount-option input:checked + .amount-btn {
    background-color: #373F41; 
    border-color: #373f41;
    color: #fff;  
}

.custom-amount,
.mode-of-payment {
    position: absolute;
}

.custom-amount {
    margin-left: 52px;
}

.custom-amount label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #373F41;
    margin-left: -2rem;
    margin-top: 1rem;
    position: absolute;
}

.custom-amount input {
    display: block;
    width: 300px;
    height: 4rem;
    margin-top: 3rem;
    border-radius: 10px;
    border: 1px solid #373F41;
    font-size: 24px; 
    line-height: 1.2;
    padding: 0 15px; 
    box-sizing: border-box;
    color: #373F41; 
    outline: none; 
}

.custom-amount input:focus {
    border: 1px solid #373F41;
}

  .mode-of-payment {
    position: relative; 
    width: 300px;
    height: 4rem;
    margin-left: 20rem;
    margin-top: 2.9rem;
  }
  
  .mode-of-payment select {
    width: 100%;
    padding: 12px 30px 10px 9px;
    border: 1px solid #646a6c;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #f9f9f9;
    color: #373F41;;
    height: 66px;
    appearance: none;
    margin-left: 30px;
    outline: none; 
  }
  
  .mode-of-payment select:focus {
    border: 1px solid #373F41;
}

  .mode-of-payment label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 30px; 
    color: #373F41;
    pointer-events: none; 
    transition: all 0.2s ease; 
  }
  
  .mode-of-payment select:focus + label,
  .mode-of-payment select:not(:placeholder-shown) + label {
    top: -10px; 
    left: 10px;
    font-size: 12px;
    color: #777777;
  }
  
  .mode-of-payment select option:first-child {
    color: #777777;
  }
  .mode-of-payment::after {
    content: '\25BC';
    font-size: 21px;  
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
  
  .confirm-button {
    width: 20rem;
    height: 4rem;
    position: absolute;  
    right: 130px;
    border-radius: 10px;
    background-color: #373f41; 
    border: none;
    color: #F9A602;
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
    font-weight: 600; 
    line-height: 48px; 
    text-align: left; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000080; 
    margin-top: 2rem;
  }    

.cbu-container {
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: absolute;
    border-radius: 8px;
    transform: translateX(-50%);  
    transition: box-shadow 0.1s ease, outline 0.1s ease; 
    width: 43rem;
    height: 37rem;
    left: 92rem;
}

