<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaCoop | <%=title %></title>
    <link rel="stylesheet" href="/css/applyloan.css">
</head>

<body>

<nav class="navbar">
    <div class="site-title">
        <h1>KACooP</h1>
        <span>Member<i class="fas fa-home"></i></span>
    </div>
</nav>  

<div class="container">
    <img src="/images/loan.png" alt="Megaphone Icon" class="img">
    <h1>Apply Loan</h1>
</div>
<script>
    function calculateMonthlyPayment() {
        const amount = parseFloat(document.getElementById('amount').value);
        const loanTerm = parseFloat(document.getElementById('loan_term').value.split(' ')[0]);
        const interest = parseFloat(document.getElementById('interest').value);
        
        const monthlyInterestRate = interest / 12;
        const numberOfPayments = loanTerm;
        
        const monthlyPayment = (amount * monthlyInterestRate * Math.pow(1 + monthlyInterestRate, numberOfPayments)) /
            (Math.pow(1 + monthlyInterestRate, numberOfPayments) - 1);
        
        document.getElementById('monthly_payment').textContent = 'PHP'+''+ monthlyPayment.toFixed(2);
    }
</script>
</body>
</html>
