<!DOCTYPE html>
<html lang="en">
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/cbu.css">

    <body>
        <%- include("header.ejs") %>
        <%- include("sidebar_mem.ejs") %>

        <div class="container">
            <div class="savings-container">
              <h3>Check your savings</h3>
              <p class="savings-amount">Balance here.</p>
            </div>
            <div class="balance-container">
              <button class="balance-button">
              <h4>CBU</h4> Php 1000.00.</button>
            </div>
          </div>                   

          <form action="/confirm" method="post" class="form-container">
            <div class="header">
                <button class="deposit-btn" type="submit" name="action" value="deposit">Deposit</button>
                <button class="withdraw-btn" type="submit" name="action" value="withdraw">Withdraw</button>
            </div>
            <div id="choose-amount-text">CHOOSE YOUR AMOUNT</div>
            <div class="amount-options">
                <label class="amount-option">
                    <input type="radio" name="amount" value="1000">
                    <span class="amount-btn">PHP 1000</span>
                </label>
                <label class="amount-option">
                    <input type="radio" name="amount" value="2000">
                    <span class="amount-btn">PHP 2000</span>
                </label>
                <label class="amount-option">
                    <input type="radio" name="amount" value="3000">
                    <span class="amount-btn">PHP 3000</span>
                </label>
                <label class="amount-option">
                    <input type="radio" name="amount" value="4000">
                    <span class="amount-btn">PHP 4000</span>
                </label>
                <label class="amount-option">
                    <input type="radio" name="amount" value="5000">
                    <span class="amount-btn">PHP 5000</span>
                </label>
                <label class="amount-option">
                    <input type="radio" name="amount" value="6000">
                    <span class="amount-btn">PHP 6000</span>
                </label>
            </div>
            <div class="custom-amount">
                <label for="amount">AMOUNT</label>
                <input type="text" id="amount" name="amount">
            </div>
            <div class="mode-of-payment">
                <select id="payment-mode" name="payment-mode">
                    <option value="" disabled selected hidden>MODE OF PAYMENT</option>
                    <option value="cash">Cash</option>
                    <option value="card">Card</option>
                    <option value="bank-transfer">Bank Transfer</option>
                </select>
                <button class="confirm-button" type="submit">CONFIRM</button>
            </div>
        </form>        


</html>
