<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Current_Loan</title>
        <link rel="stylesheet" href="/css/current_loan.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
   
    <body>
 
<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
</nav>

<div class="current-loan">
    <div class="current-loan-header">
      <h3 class="loan-type"><i class="fas fa-hand-holding-usd"></i> Current Loan</h3>
    </div>
    <div class="button-container">
      <button>Regular Loan</button>
      <button>Medical Loan</button>
      <button>Emergency Loan</button>
    </div>
  </div>  