<!DOCTYPE html>
<html lang="en">
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/dashboard.css">

    <body>
        <%- include("header.ejs") %>
        <%- include("sidebar_mem.ejs") %>
        
        <div class="container">
            <div class="announcement-container">
                <h3 class="announcement-title">Coop Advisory</h3>
                <p>coop advisory</p>
            </div>

            <div class="welcome-container">
                <h3 class="welcome-title">Welcome</h3>
            </div>

            <div class="coopfunds-container">
                <h3>Coop Funds</h3>
            </div>

            <div class="funds-container">
                
                <li>
                    <a href="/Member/loans" class="funds-btn">
                        <p>Php 0.00</p>
                        <h3>Loan Balance</h3>
                    </a>
                    
                </li>
                <li>
                    <a href="#" class="funds-btn">
                        <p>Php 0.00</p>
                        <h3>Savings</h3>
                    </a>
                    
                </li>
                <li>
                    <a href="#" class="funds-btn">
                        <p>Php 0.00</p>
                        <h3>CBU</h3>
                    </a>
                   
                </li>
            
            </div>
        </div>


    </body>


</html>
