<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/inquire.css">
    </head>
    <body>
        <div class="container">
            <div class="leftSide" div class="search=chat" input type="text" placeholder="Search os start new chat"">
              <div class="header">
                <div class="userimg">
                    <div class="div1"><img src="/images/user.png" class="cover" class="responsive" id="div1">
                </div>
                </div>
                <ul class="nav_icons">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
              </div>
              <div class="search_chat">
            <input type="text" placeholder="Search or start new chat">
              <ion-icon name="search-outline"></ion-icon>
             </div>
             <div class="chatlist">
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>John Doe</h4>
                            <p class="time">10.56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>
                <div class="block unread">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat2.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Khendes</h4>
                            <p class="time">12.18</p>
                        </div>
                        <div class="message_p">
                            <p>Sorry, you ran into trouble! I need just a little more info before I can look into this for you, and then we’ll get it sorted. Can you send us [this]?
                            I’m happy to help! I’ll get right to it, but I need some more info from you. 
                            Can you confirm your account number for me? You can find it [by going to your profile settings].
                            Thanks for explaining the issue in so much detail! I’d like to look up the previous case you opened with us. Could you let me know which email you sent it from?
                            Sure, I think I understand what you need. Do you mind walking me through how you’ve tried to solve this?
                            Great, I can help you out with that. What I need from you is [this extra information].</p>
                            <b>1</b>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Leslie</h4>
                            <p class="time">11.56</p>
                        </div>
                        <div class="message_p">
                            <p>You good?</p>
                        </div>
                    </div>
                </div>
                <div class="block unread">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat4.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Isabel</h4>
                            <p class="time">08.56</p>
                        </div>
                        <div class="message_p">
                            <p>Hi pretty!</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Elena</h4>
                            <p class="time">01.12</p>
                        </div>
                        <div class="message_p">
                            <p>Im bored</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Jessica</h4>
                            <p class="time">04.56</p>
                        </div>
                        <div class="message_p">
                            <p>Hey?</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Doe</h4>
                            <p class="time">10.56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Mavel</h4>
                            <p class="time">10.56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>George</h4>
                            <p class="time">10.56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Kyliene</h4>
                            <p class="time">10.56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>
                <div class="block active">
                    <div class="imgBox">
                        <img class="background1" src="/images/chat3.jpg" alt="background1" />
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>Dominic</h4>
                            <p class="time">10.56</p>
                        </div>
                        <div class="message_p">
                            <p>How are you doing?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <div class="rightSide">
    <div class="header">
        <div class="imgText">
            <div class="userimg">
                <img src="images/chat.jpg" alt="" class="cover">
            </div>
            <h4>Khendes<br><span>online</span></h4>

        </div>
        <ul class-="nav_icons">
            <ion-icon name="search-outline"></ion-icon>
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ul>
   </div>
   <div class="chatbox">
    <div class="message my_msg">
        <p>Sorry, you ran into trouble! I need just a little more info before I can look into this for you, and then we’ll get it sorted. Can you send us [this]?
I’m happy to help! I’ll get right to it, but I need some more info from you. 
Can you confirm your account number for me? You can find it [by going to your profile settings].
Thanks for explaining the issue in so much detail! I’d like to look up the previous case you opened with us. Could you let me know which email you sent it from?
Sure, I think I understand what you need. Do you mind walking me through how you’ve tried to solve this?
Great, I can help you out with that. What I need from you is [this extra information].<br>Hope you are doing good.<span>12:18</span></p>
      
    </div>
    <div class="message friend_msg">
        <p>Hello, Im fine really.<br>Thank you for your concern. Keep safe.<span>12:25</span></p>
         </div>
     </div>
     <div class="chatbox_input">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-icon name="attach-outline"></ion-icon>
        <input type="text" placeholder="Type a message">
        <ion-icon name="send-outline"></ion-icon>
        <ion-icon name="mic"></ion-icon>

    
    </div>
</div>
</div>





<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>