<!DOCTYPE html>
<html lang="en">
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/loan.css">

    <body>
        <%- include("header.ejs") %>
        <%- include("sidebar_mem.ejs") %>

    </body>


</html>