<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Regular_Loan</title>
        <link rel="stylesheet" href="/css/regular_loan.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
   
    <body>
 
<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    </div>
    <div class="member-title">
        <h1>Member</h1>
    </div>
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
</nav>

<div class="regular-loan">
    <div class="regular-loan-header">
      <h3 class="loan-type"><i class="fas fa-hand-holding-usd"></i> Regular Loan</h3>
      <div class="loan-details">Loan: PHP 50000.00</div>
    </div>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>No. of Payment</th>
        <th>Date</th>
        <th>Deposit</th>
        <th>Savings</th>
        <th>Balance</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>03-01-24</td>
        <td>500</td>
        <td>50</td>
        <td>49500.00</td>
        <td>ONTIME</td>
      </tr>
      <tr>
        <td>2</td>
        <td>03-08-24</td>
        <td>500</td>
        <td>50</td>
        <td>49000.00</td>
        <td>DELAYED</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="add-payment-button-container">
  <button id="paymentButton">Add Payment</button>
</div>

<script>
// Find the button element
var paymentButton = document.getElementById("paymentButton");

// Add an event listener to handle the click action
paymentButton.addEventListener("click", function() {
    // Your click action code here
    // For example, you can navigate to another page or perform some action
    alert("Payment added successfully!");
});
</script>