<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head.ejs") %>
    <link rel="stylesheet" href="/css/save.css">
  </head>
  <body>
    <%- include("header.ejs") %>
    <%- include("sidebar_mem.ejs") %>

    <div class="container">
      <div class="balances">
        <div class="balance-card savings">
          <h3>Savings</h3>
          <p class="amount">500.00 PHP</p>
        </div>
        <div class="balance-card cbu">
          <h3>CBU</h3>
          <p class="amount">1000.00 PHP</p>
        </div>
      </div>

      <form action="/submit-transaction" method="post" class="transaction-form">
        <h4>Request a Transaction</h4>
        <div class="form-fields">
          <select name="fund-type" id="fund-type" required>
            <option value="" disabled selected>Fund Type</option>
            <option value="savings">Savings</option>
            <option value="cbu">CBU</option>
          </select>
          <select name="transaction-type" id="transaction-type" required>
            <option value="" disabled selected>Transaction Type</option>
            <option value="deposit">Deposit</option>
            <option value="withdrawal">Withdrawal</option>
          </select>
          <select name="payment-mode" id="payment-mode" required>
            <option value="" disabled selected>Mode of Payment</option>
            <option value="cash">Cash</option>
            <option value="bank-transfer">Bank Transfer</option>
          </select>
        </div>
        <div class="input-amount">
          <div class="amount-header">
            <h5>Input your Amount</h5>
          </div>
          <div class="form-transaction">
            <input
              type="number"
              name="amount"
              id="input-amount"
              placeholder="Enter amount"
              required/>
        </div>

        <div>
        <button type="submit" class="confirm-button">Confirm</button>
      </form>
    </div>
  </body>
</html>
