<aside>
    <ul>
        <li>
            <a href="/Member/dashboard" class="dashboard-btn">
                <i class="bi bi-ui-checks-grid"></i>
                <span class="side-text">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/Member/announcement" class="announcement-btn">
                <i class="bi bi-megaphone"></i>
                <span class="side-text">Announcement</span>
            </a>
        </li>

       <li>
            <a href="/Member/funds" class="funds-btn">
                <i class='bx bx-wallet-alt' ></i>
                <span class="side-text">Funds</span>
            </a>
       </li>

        <li>
            <a href="/Member/loans" class="loans-btn">
                <i class='bx bx-credit-card-alt' ></i>
                <span class="side-text">Loans</span>
            </a>
        </li>

        <li>
            <a href="/Member/transaction_history" class="history-btn">
                <i class='bx bx-time' ></i>
                <span class="side-text">History</span>
            </a>
        </li>

        <li>
            <a href="#" class="message-btn">
                <i class='bx bx-message-square-dots' ></i>
                <span class="side-text">Message</span>
            </a>
        </li>

       <li>
            <a href="/" class="log-out-btn">
                <i class='bx bx-log-out-circle'></i>
                <span class="side-text">Log Out</span>
            </a>
       </li>

    </ul>
</aside>

