<aside>
    <ul>
        <li>
            <a href="#" class="fund-btn"><i class="fas fa-money-bill-wave"></i>
                <span class="fas fa-caret-down first"></span>
            </a>
            <ul class="fund-show">
                <li><a href="/Member/savings_deposit"><i class="fas fa-piggy-bank"></i></a></li>
                <li><a href="/Member/cbu_deposit"><i class="fas fa-wallet"></i></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="loan-btn"><i class="fas fa-hand-holding-usd"></i>
                <span class="fas fa-caret-down second"></span>
            </a>
            <ul class="loan-show">
                <li><a href="/Member/apply_loan"><i class="fas fa-file-signature"></i></a></li>
                <li><a href="/Member/currentloan"><i class="fas fa-file-invoice-dollar"></i></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="fund-btn"><i class="fas fa-history"></i>
                <span class="fas fa-caret-down first"></span>
            </a>
            <ul class="fund-show">
                <li><a href="#"><i class="fas fa-piggy-bank"></i></a></li>
                <li><a href="#"><i class="fas fa-wallet"></i></a></li>
                <li><a href="#"><i class="fas fa-money-check-alt"></i></a></li>
            </ul>
        </li>
        <li><a href="inquire"><i class="fas fa-search"></i></a></li>
    </ul>
</aside>