<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaCoop | <%=title %></title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-WZ1L1A94+IaQtJAsrsi6o8Zs/j6izKTdOPcQ//DyTK0EC6sm8ZguCCX6XNhW1hHc8r8h5mOwI8eOyjF0zJo8Xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body> 
    <!-- SIDEBAR -->
     <section id="sidebar">
        <a href="#" class="brand"><i class="fas fa-coins icon"></i>KaCoop</a>
        <ul class="side-menu">
            <li><a href="#"><i class="fas fa-tachometer-alt icon"></i>Dashboard</a></li>
            <li><a href="#"><i class="fas fa-bullhorn icon"></i>Announcement</a></li>
            <li><a href="#"><i class="fas fa-clipboard-list icon"></i>Requests</a></li>
            <li><a href="#"><i class="fas fa-users icon"></i>Members</a></li>
            <li><a href="#"><i class="fas fa-envelope icon"></i>Message</a></li>
            <li><a href="#"><i class="fas fa-sign-out-alt icon"></i>Logout</a></li>
        </ul>
     </section>
</body>
</html>
