<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Request</title>
    <link rel="stylesheet" href="/css/loan_request.css">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="manager-title">
        <h1>Manager</h1>
    </div>
    
    <div class="home-icon">
        <a href="/">
            <img src="/svg/icons8-home.svg" alt="Home Icon">
        </a>
    </div>
</nav>

<!-- Centering the h2 element -->
<h2>Loan Requests</h2>

<div class="table-container">
    <table>
        <tr>
            <td>Name:</td>
            <td>Missy Yonting</td>
        </tr>
        <tr>
            <td>Type of Loan:</td>
            <td>Regular Loan</td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>Loan Term:</td>
            <td>6 months</td>
        </tr>
        <tr>
            <td>Interest:</td>
            <td>2%</td>
        </tr>
        <tr>
            <td>Monthly Payment:</td>
            <td>500</td>
        </tr>
    
    </table>
</div>

<div class="message-box">
    <textarea id="message" name="message" rows="4" cols="50" placeholder="Write a message..."></textarea>
</div>

<div class="button-container">
    <button class="approve-button">Approve</button>
    <button class="decline-button">Decline</button>
</div>

</body>
</html>
