<aside>
    <ul>
        <li>
            <a href="/Manager/dashboard">
                <i class="bi bi-ui-checks-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/Manager/announcement">
                <i class="bi bi-megaphone"></i>
                <span>Announcement</span>
            </a>
        </li>

        <li>
            <a href="/Manager/members">
                <i class="bi bi-people"></i>
                <span>Members</span>
            </a>
        </li>

        <li>
            <a href="/Manager/request">
                <i class="fa-regular fa-clipboard"></i>
                <span>Requests</span>
            </a>
        </li>

        <li>
            <a href="/Manager/managerhistory">
                <i class="bx bx-time"></i>
                <span>History</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bx bx-message-square-dots"></i>
                <span>Message</span>
            </a>
        </li>

        <li>
            <a href="/">
                <i class="bx bx-log-out-circle"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</aside>