<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KaCoop | <%=title %></title>
        <link rel="stylesheet" href="/css/managerannouncement.css">
    </head>
<body>
    <nav>
        <div class="site-title">
            <h1>CTU-AC COOPERATIVE SYSTEM</h1>
        </div>
        <div class="member-title">
            <h1>Manager</h1>
        </div>
        <div class="home-icon">
            <a href="/">
                <img src="/svg/icons8-home.svg" alt="Home Icon">
            </a>
        </div>
    </nav>

    
<div class="main-content">
    <div class="content-wrapper">
        <div class="announcement-section">
            <img src="/images/marketing.png" alt="Megaphone Icon" class="adjusted">
            <h1>Announcement</h1>
        </div>

        <% if (contents.length > 0) { %>
            <% contents.forEach(content => { %>
        <div class="announcement-content">
            <i class="custom-announcement-icon"></i>
            <div class="content-text">

                <h3 class="title"><%= content.content_title %></h3>
                <p class="content"><%= content.content %></p>
              
                <img src="/images/NicePng_american-football-png_5625275 (1).png" alt="NicePng_american-football-png_5625275">
            </div>
        </div>
        <% }) %>
                <% } else { %>
                <p>There are no announcements to display...</p>
                <% } %>
    </div>
</div>
</body>
</html>