<!DOCTYPE html>
<html lang="en">
    <%- include("../Manager/managerhead.ejs") %>
    <link rel="stylesheet" href="/css/managermain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <body>
        <%- include("../Manager/managerheader.ejs") %>
        <%- include("../Manager/managersidebar.ejs") %>
   
        <div class="dashboard-section">
            <div class="welcome-message">
                <p>Welcome, Manager Ariel Berongan!</p>
                <p>Here, you can efficiently oversee member activities, manage loans and savings, and keep the cooperative thriving. Let’s work together to ensure the success of our community!</p>
            </div>
        
            <div class="dashboard-cards">
                <div class="card members">
                    <h2>Members</h2>
                    <p>3 Members</p>
                </div>
                <div class="card funds">
                    <h2>2024 Coop Funds</h2>
                    <ul>
                        <li>Cash and Equivalents</li>
                        <li>Expenses</li>
                        <li>Receivables</li>
                        <li>Fixed Assets</li>
                    </ul>
                </div>
            </div>
        
            <div class="requests">
                <table>
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Request Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2f08f946-5193-4d3b-b499-69e9fd688f16</td>
                            <td>Savings Transaction</td>
                        </tr>
                        <tr>
                            <td>d7002de0-2940-4a88-b72e-5a4b61e7e020</td>
                            <td>Savings Transaction</td>
                        </tr>
                        <tr>
                            <td>671f5c5b-307c-447d-ac5c-aa24f512f815</td>
                            <td>CBU Transaction</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </body>
</html>
