<aside>
    <ul>
        <li>
            <a href="/Manager/dashboard" class="dashboard-btn">
                <i class="bi bi-ui-checks-grid"></i>
                <span class="side-text">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/Manager/announcement" class="announcement-btn">
                <i class="bi bi-megaphone"></i>
                <span class="side-text">Announcement</span>
            </a>
        </li>

       <li>
            <a href="/Manager/members" class="funds-btn">
                <i class="bi bi-people"></i>
                <span class="side-text">Members</span>
            </a>
       </li>

        <li>
            <a href="/Manager/request" class="loans-btn">
                <i class="fa-regular fa-clipboard"></i>
                <span class="side-text">Requests</span>
            </a>
        </li>

        <li>
            <a href="#" class="history-btn">
                <i class='bx bx-time' ></i>
                <span class="side-text">History</span>
            </a>
        </li>

        <li>
            <a href="#" class="message-btn">
                <i class='bx bx-message-square-dots' ></i>
                <span class="side-text">Message</span>
            </a>
        </li>

       <li>
        <a href="/" class="logout-link" class="log-out-btn">
                <i class='bx bx-log-out-circle'></i>
                <span class="side-text">Logout</span>
            </a>
            </a>
       </li>

    </ul>
</aside>