<header>
    <div class="site-title">
        <img src="/images/coopslogo.png" alt="">
    </div>

    <div class="title">
        <p><%=title%></p>
    </div>

    <div class="users-info">
        <div class="notif-bell">
            <a href="/manager/notif">
                <i class="fas fa-bell"></i>
                <span class="notif-count">3</span>
            </a>
        </div>        
        <div class="profile">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user">
            <p>Manager</p>
        </div>
    </div>
</header>
