<header>
    <div class="site-title">
        <img src="/images/coopslogo.png" alt="">
    </div>

    <div class="title">
        <p><%=title %></p>
    </div>

    <div class="users-info">
        <div class="notif-bell">
            <i class="fas fa-bell"></i>
            <span class="notif-count">3</span>
        </div>
        <div class="profile">
            <i class="fas fa-user-circle"></i>
        </div>
        <div class="user">
            <p>Regular User</p>
        </div>
    </div>
</header>
