<!DOCTYPE html>
<html lang="en">
    <%- include("../Manager/managerhead.ejs") %>
    <link rel="stylesheet" href="/css/managerdashboard.css">

    <body>
        <%- include("../Manager/managerheader.ejs") %>
        <%- include("../Manager/managersidebar.ejs") %>
    </body>
    
    <div class="">
        
    </div>
    
</html>
