<aside>
    <ul>
        <li>
            <a href="#" class="fund-btn">
                <i class="bi bi-ui-checks-grid"></i>    
            </a>
        </li>

        <li>
            <a href="#" class="announcement-btn">
                <i class="bi bi-megaphone"></i>
            </a>
        </li>

       <li>
            <a href="#" class="funds-btn">
                <i class="fas fa-money-bill-wave"></i>
            </a>
       </li>

        <li>
            <a href="#" class="loans-btn">
                <i class="fas fa-hand-holding-usd"></i>
            </a>
        </li>

        <li>
            <a href="#" class="history-btn">
                <i class="fas fa-history"></i>
            </a>
        </li>

        <li>
            <a href="#" class="message-btn">
                <i class="fas fa-comment"></i>
            </a>
        </li>

       <li>
            <a href="#" class="log-out-btn">
                <i class="fas fa-sign-out-alt"></i>
            </a>
       </li>

    </ul>
</aside>

