<header>
   
    <div class="logo">
        <img src="/images/COOP LOGO (4).png"  alt="logo">
    </div>
    <div class="title">
        <p><%=title %></p>
    </div>
    <div class="notif-bell">
        <i class="fas fa-bell"></i>
    </div>
    <div class="profile">
        <i class="fas fa-user"></i>
    </div>
    <div class="user">
        <p>Manager</p>
    </div>
  
</header>
        