<!DOCTYPE html>
<html lang="en">
    <%- include("../Manager/managerhead.ejs") %>
    <link rel="stylesheet" href="/css/mannouncement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <body>
        <%- include("../Manager/managerheader.ejs") %>
        <%- include("../Manager/managersidebar.ejs") %>
    </body>

    <div class="container" >
        <div class="announcement-container" contenteditable="true" id="announcementContainer">
            <p class="announcement-title" id="defaultText">Title</p>
        </div>
    
        <script>
            const announcementContainer = document.getElementById('announcementContainer');
            const announcementTitle = document.getElementById('defaultText');
    
            announcementContainer.addEventListener('click', function() {
                // Hide the default paragraph when the container is clicked
                if (announcementTitle) {
                    announcementTitle.style.display = 'none';
                    // Set focus to the editable container
                    announcementContainer.focus();
                }
            });
    
            announcementContainer.addEventListener('blur', function() {
                if (!announcementContainer.textContent.trim()) {
                    announcementTitle.style.display = 'block'; 
                }
            });
    
           
            window.addEventListener('load', function() {
                if (!announcementContainer.textContent.trim()) {
                    announcementTitle.style.display = 'block';
                }
            });
        </script>

    <div class="write-container" contenteditable="true" id="writeContainer">
        <p class="write-title" id="defaulttext">Write announcements...</p>
       
    </div>
    <script>
        const writeContainer = document.getElementById('writeContainer');
        const writeTitle = document.getElementById('defaulttext');

        writeContainer.addEventListener('click', function() {
            if (writeTitle) {
                writeTitle.style.display = 'none';
            }
        });
    </script>

    <div class="post-container">
        <p class="post-title">POST</p>
       
    </div>
    <div class="cooperative_advisory">
        <h1 class="coop_ad">Cooperative Advisory</h1>
        <p class="announcements">The online transactions in September 12, 2024 is not available.</p>
    </div>

    


    


</div>
</html>