<!DOCTYPE html>
<html lang="en">
    <%- include("../Manager/managerhead.ejs") %>
    <link rel="stylesheet" href="/css/managerprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <body>
        <%- include("../Manager/managerheader.ejs") %>
        <%- include("../Manager/managersidebar.ejs") %>
    </body>

    <div class="container" >
      <% if (user) { %>
        <div class="prof1-container">    
        </div>
        <div class="prof2-container">  
        </div>
        <div class="prof3-container">
            <img src="/images/download.jpg" alt="Description of Image">
        </div>
       
        <div class="details-container">
          
            <h1 class="details"><i class="fa-solid fa-crown"></i><% user.fname %> <% user.lname %> </h1>
            <h4 class="details2"><% user.user_id %></h4>
            <p class="contact">E-mail Add: <% user.email %></p>
            <p class="add">Address: <% user.address %></p>
            <p class="pb">Place of Birth: <% user.place_of_birth %></p>
            <p class="db">Date of Birth: <% user.date_of_birth %></p>

        </div>
        <div class="saving1-container">  
            <h2 class="savings">Php <% savings.amount %>.00</h2>
        </div>
        <div class="saving2-container">  
            <p class="savingss">Savings</p>
        </div>
        <div class="cbu1-container">  
            <h2 class="savings">Php <% cbu.amount %>.00</h2>
        </div>
        <div class="cbu2-container">  
            <p class="savingss">CBU</p>
        </div>
        <div class="loan-container">  
            <h1 class="cbu">Current Loan</h1>
            <p class="lt">Current Loan: <% loan.loan_type %></p>
            <p class="amount">Amount: Php<% loan.amount %>.00</p>
            <p class="interest">Interest: <% loan.interest %> %</p>
            <p class="balance">Balance: Php. <% loan.balance %></p>
        </div>

        <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Request ID</th>
                  <th>Amount</th>
                  <th>Transaction Type</th>
                  <th>Status</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>101010101</td>
                  <td>PHP 600.00</td>
                  <td>Savings Deposit</td>
                  <td>&#10004;</td> 
                  <td>09-09-09</td>
                </tr>
              </tbody>
            </table>
          </div>
      
      }
        
       

</div>
</html>