<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/memberinfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>CTU-AC COOPERATIVE SYSTEM</h1>
    </div>
    <div class="nav-content">
        <div class="member-title">
            <h1>Manager</h1>
        </div>
        <div class="home-icon">
            <a href="/">
                <img src="/svg/icons8-home.svg" alt="Home Icon">
            </a>
        </div>
    </div>
</nav>

<!-- Centering the h2 element -->
<h2>Jay-Anne Sumaway</h2>

<section id="service">
    <div class="container">
        <div class="row">
            <div class="service">
                <i class="bi bi-piggy-bank"></i>
                <h4>Personal Details</h4>
                <table>
                    <tr>
                        <td>Date of Birth: </td>
                        <td>01-01-01</td>
                    </tr>
                    <tr>
                        <td>Place of Birth:</td>
                        <td>Ginatilan</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>Ginatilan</td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>jay@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Contact Number:</td>
                        <td>02487563564</td>
                    </tr>
                    <tr>
                        <td>Membership:</td>
                        <td>56459513235478</td>
                    </tr>
                    <tr>
                        <td>Email Add:</td>
                        <td>jay@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Contact Number:</td>
                        <td>09090909002</td>
                    </tr>
                    <tr>
                        <td>Membership Fee:</td>
                        <td>1500.00 php</td>
                    </tr>
                </table>
            </div>
            <div class="service">
                <i class="bi bi-cash-coin"></i>
                <h4>Funds</h4>
                <table>
                    <tr>
                        <td>CBU:</td>
                        <td>100,000</td>
                    </tr>
                    <tr>
                        <td>Savings:</td>
                        <td>500,000</td>
                    </tr>
                    <tr>
                        <td>Current Loan:</td>
                        <td>Regular Loan</td>
                    </tr>
                    <tr>
                        <td>Transaction History:</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>
